* {
    font-family: monospace;
  }
  
  header,
  body {
    background-color: #C0C0C0;
  }
  
  h1 {
    text-align: center;
    padding: 10px 10px;
    margin: 20px 20px;
  }
  
  .table-name {
    text-align: center;
    color: #000080;
    padding: 0px 10px 10px 10px;
    margin: 20px 20px;
    font-size: 20px;
  }
  
  table, th, td {
    border: 1px solid;
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }
  
  .table-heading {
    font-weight: bold;
    text-align: center;
    background-color: #000080;
    color: white;
  }
  
  td {
    padding: 5px 5px;
  }